/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ==========================================================
  End reset
  ==========================================================
*/

body {
    overflow: hidden;
    background: linear-gradient(to right, white, #c7b8e4);

}

.App {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 550px;
    margin: 100px auto;
    /*border: 4px solid red;*/
    box-shadow:         2px 1px 2px 1px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to top right, #E95363, #EA6B5D);
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}

.App-header {
    margin: 30px;
    /*border: 2px solid white;*/
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;

}

/*
  ==========================================================
  Range area
  ==========================================================
*/

.range {
    color: #ffffff;
    font-size: 14px;
}

.height-container p, .weight-container p {
    text-align: center;
    margin-bottom: 50px;
}

.height-container {
    position: relative;


}

.weight-container {
    margin-top: 50px;
    position: relative;
}

.height-value, .weight-value {
    position: absolute;
    font-size: 12px;
    left: 39%;
    top: 26px;
    background: rgba(255, 255, 255, 0.4);
    padding: 5px 5px;
    border-bottom: 0px solid transparent;
    display: block;
    width: 88px;
    text-align: center;
    transition: transform 0.5s ease;
    /*border-radius: 50%;*/
}

.height-value:before, .weight-value:before{
    content: "";
    /*width: 30px;*/
    /*height: 30px;*/
    /*background-color: aqua;*/
    position: absolute;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-top: 9px solid rgba(255, 255, 255, 0.2);
    border-bottom: 9px solid transparent;
    top: 22px;
    right: 35%;
}

.height-value:hover, .weight-value:hover{
    transform: scale(1.2);
    cursor: pointer;
}


/*
  ==========================================================
 Sliders
  ==========================================================
*/

input[type=range] {
    width: 80%;
    margin-left: 30px;

}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #ffffff;
    cursor: pointer;
    margin-top: -5px;
    /*border: 5px solid black;*/
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    background: #F6BCBA;
    border-radius: 10px;
    border: 0.2px solid transparent;
}

/*.height-container input::-webkit-slider-thumb:before {*/
    /*content: "";*/
    /*width: 300px;*/
    /*height: 10px;*/
    /*position: absolute;*/
    /*background-color: green;*/
/*}*/

/*
  ==========================================================
  Info
  ==========================================================
*/

.info {
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    font-size: 12px;
}

.info-sections-container {
    display: flex;
}

.bmi-value-container {
    /*border: 1px solid red;*/
    flex: 1 1;
    position: relative;
    margin-top: 15px;
    height: 120px;
}

.bmi-value-container > span {
    position: absolute;
    left: 15px;
    font-size: 12px;
}

.bmi-value-container p:not(.bmi-class) {
    font-size: 13px;
}

.bmi-value {
    margin: 10px;
    font-size: 30px;
    color: #E95363;
    font-weight: 200;
    /*border: 1px solid tomato;*/
    width: 80px;
    text-align: center;
    position: relative;

}

.bmi-class {
    margin-left: 15px;
}

.bmi-class span {
    color: #E95363;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 5px;
}

.bmi-sentence {
    margin: 20px 15px;
}

.bmi-info-tables {
    flex: 1 1;
    margin-top: 65px;
    transform: translateX(25px);
}

.bmi-info-arrow{
    font-size: 30px;
    color: #E95363;
    position: relative;
    right: -20px;

}

.bmi-info-tables a{
    text-decoration: none;
    color: #000000;
}

.further-info {
    position: absolute;
    bottom: 30px;
    left: 15px;

}

